<html>
<style>
<link rel=”stylesheet” href=”css/bootstrap.css”>
<link rel=”stylesheet” href=”css/bootstrap-responsive.css”>
 </style>
<div class ="all">
<p style="color: green"><%= notice %></p>
<div class ='all'>
<div class ="title">
<span><h1 class = "number"> 50 </h1></span>

<span class = "bias1"><h2><strong>COGNITIVE BIASES</strong> TO BE AWARE OF </h2>
<h4> SO YOU CAN BE THE VERY BEST VERSION OF YOU</h4> </span>

</div>

<div class= 'total'>

<div class ='legend'>
 

<%= link_to index1_path do %>

<div class = 'legend1'>

<strong>Color_code:1</strong>
<% end %>
</div>

<%= link_to index2_path do %>
<div class = 'legend2'>
  <strong>Color_code:2</strong>
  <% end %>
</div>
<%= link_to index3_path do%>
<div class = 'legend3'>
<strong>Color_code:3</strong>
<% end %>
</div>
<%= link_to index4_path do%>
<div class = 'legend4'>
<strong>Color_code:4</strong>
<% end %>
</div>
<%= link_to items_path do %>
<div class = 'legend5'>
<strong>Color_code:5</strong>
<% end %>
</div>


</div> 

<br>
<br>

<div class="blogs">


  <% @items.each do |item| %>
  
   
    <%= render item %>
  

  
  
  <% end %>

  </div>
  </div>
  <br>
  <br>
  <p><%= link_to "New Item", items_new_path,class:"btn btn-success" %></p>

</div>

</div>